<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{error.title}">Error</title>
    <link rel="stylesheet" th:href="@{/css/error.css}"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body>

<div class="error-container">
    <h1 th:text="'HTTP Status ' + (${errorCode} ?: 'Unknown') + ' - ' + (${errorMessage} ?: 'An unexpected error occurred')">Error</h1>

    <form method="post" th:action="@{/logout}">
        <input type="submit" value="Logout"/>
        <p th:text="${user}"></p>
        <p th:text="${userRole}"></p>
        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
    </form>
</div>

</body>
</html>